* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea {
  padding: 1em;
  border: 0;
  font: inherit;
  color: inherit;
  font-weight: inherit;
  background-color: transparent;
  &:focus {
    outline: 0;
  }
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}
